html,body,p {
    font-size: 100%;
    font-family: serif;
}
h1,h2 {
    font-family: sans-serif;
}
h1 {
    font-size: 150%;
}
h2 {
    font-size: 130%;
}

img.top-logo {
    float: right;
    width: 10%;
    max-width: 200px;
    height: auto;
}

h1:after {
    border-bottom: 1px solid black;
    content: '';
    display: block;
    clear: both;
}

.current-translation {
    font-family: monospace;
    display: block;
    font-size: 150%;
}

.enter-translation {
    font-family: monospace;
    font-size: 150%;
    white-space: pre-wrap;
}

.enter-string-translation {
    width: 90%;
    height: 10ex;
}

footer {
    font-size: 90%;
    margin-top: 4ex;
}